<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>jspxcms</display-name>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:conf/context-*.xml
			classpath:conf/core/context-dao.xml
			classpath:conf/core/context-service.xml
			classpath:conf/core/context-directive.xml
			classpath:conf/ext/context-dao.xml
			classpath:conf/ext/context-service.xml
			classpath:conf/ext/context-directive.xml
			classpath:conf/plugin/**/context-*.xml
			classpath:custom.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
		
	<filter>
		<filter-name>timerFilter</filter-name>
		<filter-class>com.jspxcms.common.web.TimerFilter</filter-class>
	</filter>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>jspDispatcherFilter</filter-name>
		<filter-class>com.jspxcms.common.web.JspDispatcherFilter</filter-class>
		<init-param>
			<param-name>prefix</param-name>
			<param-value>/jsp</param-value>
		</init-param>
	</filter>	
	
	<filter-mapping>
		<filter-name>timerFilter</filter-name>
		<url-pattern>/cmscp/*</url-pattern>
		<url-pattern>/</url-pattern>
		<url-pattern>*.jspx</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.servlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/cmscp/*</url-pattern>
		<url-pattern>/</url-pattern>
		<url-pattern>*.jspx</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>openEntityManagerInViewFilter</filter-name>
		<url-pattern>/cmscp/*</url-pattern>
		<url-pattern>/</url-pattern>
		<url-pattern>*.jspx</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/cmscp/*</url-pattern>
		<url-pattern>/</url-pattern>
		<url-pattern>*.jspx</url-pattern>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>jspDispatcherFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>keepSessionServlet</servlet-name>
		<servlet-class>com.jspxcms.common.web.KeepSessionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>captchaServlet</servlet-name>
		<servlet-class>com.jspxcms.common.captcha.CaptchaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>backDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:conf/servlet-back.xml
				classpath:conf/core/controller-back.xml
				classpath:conf/ext/controller-back.xml
				classpath:conf/plugin/**/controller-back.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>foreDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:conf/servlet-fore.xml
				classpath:conf/core/controller-fore.xml
				classpath:conf/ext/controller-fore.xml
				classpath:conf/plugin/**/controller-fore.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>keepSessionServlet</servlet-name>
		<url-pattern>/keep_session.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>captchaServlet</servlet-name>
		<url-pattern>/captcha.servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>backDispatcher</servlet-name>
		<url-pattern>/cmscp/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>foreDispatcher</servlet-name>
		<url-pattern>*.jspx</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	
	<error-page>
		<error-code>400</error-code>
		<location>/errors/400.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/errors/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/errors/404.jsp</location>
	</error-page>	
	<error-page>
		<error-code>500</error-code>
		<location>/errors/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>javax.validation.ConstraintViolationException</exception-type>
		<location>/errors/400.jsp</location>
	</error-page>
	<error-page>
		<exception-type>org.apache.shiro.authz.AuthorizationException</exception-type>
		<location>/errors/403.jsp</location>
	</error-page>
	<error-page>
		<exception-type>org.springframework.dao.DataIntegrityViolationException</exception-type>
		<location>/errors/data_integrity_violation_exception.jsp</location>
	</error-page>
	<error-page>
		<exception-type>com.jspxcms.core.support.DeleteException</exception-type>
		<location>/errors/delete_exception.jsp</location>
	</error-page>
	<error-page>
		<exception-type>com.jspxcms.core.support.CmsException</exception-type>
		<location>/errors/cms_exception.jsp</location>
	</error-page>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.shtml</welcome-file>
		<welcome-file>index.jspx</welcome-file>
	</welcome-file-list>
</web-app>
